<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Mensajería
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <!-- List of Text Items -->
<ion-list>
    
    <ion-item *ngFor="let chat of chatRooms" (click)="OpenChat(chat)">
      <ion-avatar slot="start"> 
        <ion-img [src]="chat.img"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2><b>{{chat.name}}</b></h2>
        <p>{{chat.description}}</p>
      </ion-label>
      
    </ion-item>
  </ion-list>
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->

  <!-- <ion-button (click)="Onlogout()">Desconectarse</ion-button> -->
</ion-content>
